<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
  	<div class="navbar-header">
      <a class="navbar-brand" href="/">Best nodejs site</a>
    </div>
	<ul class="nav navbar-nav">
	  <% if (user) { %>
	  <li><a href="/chat">Chat</a></li>
	  <% } %>
	</ul>
	<ul class="nav navbar-nav navbar-right">
	  <% if (user) { %>
	  <li><a href="" onclick="$('<form method=POST action=/logout>').submit();return false">Welcome, <%=user.username%> : Logout</a></form></li>
	  <% } else { %>
	  <li><a href="/login">Login</a></li>
	  <% } %>
	</ul>
  </div>
</nav>